apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-app
spec:
  selector:
    matchLabels:
      app: node-app
  replicas: 3
  template:
    metadata:
      labels:
        app: node-app
    spec:
      containers:
        - name: node-app
          image: manibratam123/examplenode-dev:19
          ports:
            - containerPort: 3000
